:root {
    --color-primary:rgb(82, 82, 82);
    --color-primary-light:#B3FFAB ;
    --color-primary-dark:#12FFF7 ;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --line: 1px solid var(--color-grey-light-2);
    --shadow-light-1: 0 1.5rem 4.5rem rgba(0,0,0,.1);
    --shadow-dark-1: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-dark-2: 0 2rem 4rem rgba(0,0,0,.2);
}


*,*::before, *::after {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    font-weight: 400;    
    color: gray;
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

/* Refactoring Code */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Section */

.container {
    display: flex;
    flex-direction: column;

}

.reflex-header {
    width: inherit;
}

.menu {
    position: fixed;
    z-index: 9999999;
    right: 2%;
    top: 3%;
    background-color: #5B5B5B;
    padding: 11.5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;

}

.menu:hover > .menu-icon {
    color: rgb(233, 232, 232);
}

.menu-icon {
    font-size: 20px;
    color: white;
    transition: all .2s;

}

.reflex-header-section {
    flex-direction: row;
    height: 100vh;
}

.img-container {
    width: 38%;
}

.reflex-header-img {
    width: 100%;
    max-width: 600px;
    clip-path: circle(38%); 
    -webkit-clip-path: circle(38%); 
    opacity: 0.92;
}

.reflex-header-text {
    width: 40%;
    margin-bottom: 50px;
    margin-left: -30px;
    
}
.reflex-header-text h1 {
    font-weight: 200;
    font-size: 65px;
    color: rgb(82, 82, 82);
    margin-top: 0;
    margin-bottom: 5px;
}


.reflex-header-text p {
    font-weight: 300;
    font-size: 25px;
    color: rgb(82, 82, 82);
    margin-top: 15px;
}

.reflex-header-text p {
    margin-top: 20px;
}



.btn {
    all: unset;
    color: black;
    cursor: pointer;
    border: .1px solid black;
    font-size: 13px;
    font-weight: 300;
    padding: 11px 35px;
    border-radius: 30px;
    transition: all .2s;
}

.btn:hover {
    color: white;
    background-color: var(--color-primary);
}

.btn-header {
    display: inline-block;
    margin-top: 20px;
}

/*
Tools Section
*/

.reflex-tools {
    background-color: #F7F6F6;
    flex-direction: column;
    text-align: center;
    z-index: -1;
    padding: 80px 0;
}

.titles {
    font-weight: 300;
    font-size: 40px;
    color: var(--color-primary);
    margin-bottom: 5px;
}

.descriptions {
    font-weight: 200;
    width: 39%;
}

.icons-list {
    font-size: 40px;
    color: var(--color-primary);
    position: relative;
    z-index: 1;
}

.icon {
    margin: 35px 30px;
    padding: 40px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 50%;
    position: inherit;
    background-color: #F7F6F6;
}

.icons-line {
    display: inline-block;
    border: 1px solid rgb(0, 0, 0, 0.3);
    text-align: center;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.reflex-tools p {
    width: 80%;
    font-size: 18px;
}

.casual-line {
    width: 30%;
    border: 1px rgb(0, 0, 0, 0.6) solid;
}

.reflex-stories {
    flex-direction: column;
    text-align: center;
    padding: 80px 0;

}

.descriptions-stories {
    color: var(--color-primary);
}

.stories-container {
    flex-direction: column;
}

.story {
    display: flex;
    flex-direction: row-reverse;
    text-align:left;
    margin-top: 30px;
    width: 80%;
}


.story-img {
    max-width: 470px;
    height: 350px;
    object-fit: cover;
    width: 40%;
    margin-right: 50px;
    border-radius: 10px;
    opacity: 0.92;
}

.story-text {
    width: 60%;
}

.story-paragraph {
    width: 80%;
    font-size: 18px;
}

.btn-story {
    display: inline-block;
    margin-top: 15px;
}

.story-img-exchange {
    order: 1;
}

.closing-paragraph {
    width: 80%;
    margin-top: 50px;
    font-size: 18px;
}

.reflex-note {
    flex-direction: column;
    text-align: center;
    padding: 80px 0;

    background-image: url('./img/view.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.reflex-note * {
    color: white;
}

.btn-note {
    border: 1px solid white;
    margin-top: 20px;
}

.casual-line-white {
    border: 1px solid white;
}

.reflex-footer {
    flex-direction: row;
    padding: 80px 0;
    width: 100vw;
    background-color: rgb(247,247,247);
}

.last-words {
    width: 40%;
}


.contact-form {
    flex-direction: column;
}

form * {
    font-family: inherit;
}

input, textarea {
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgb(128, 128, 128, 0.5);
}

textarea {
    width: 95%;
}

textarea:active {
    border: none;
} 

.btn-message {
    text-align: center;
    width: 40%;
    margin-top: 20px;
    padding: 15px;
}

.footer-icons {
    color: var(--color-primary);
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    border: 1px var(--color-primary) solid;
    cursor: pointer;
    transition: all .2s;
}

.footer-icons:hover {
    color: black;

}



/* All Media Queries in the seperate Media Queries CSS File */